.page-header__outside {
    margin-bottom: 20px;
}
.page-footer__outside {
    margin-top: 20px;
}
.page-order__form {
    .ant-form-item {
        display: flex;
        .ant-form-item-control-wapper {
            flex: 1;
        }
    }
}