.page-header__outside {
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 20px;
}
.page-header__form {
    .ant-form-item {
        display: flex;
        .ant-form-item-control-wapper {
            flex: 1;
        }
    }
}