.first-page {
    background: #f2f2f2;
}

.first-page__block {
    height: 350px;
    margin: 10px 0;
    background: #fff;
}

.first-page__header {
    background: #fff;
}

/* ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    background: #fff;
}

ul {
    height: 100%;
    width: 100%;
}

li {
    width: 100px;
    height: 100px;
} */