@import '~antd/dist/antd.css';

.App {
  background: #fafafa;
}

.sider__logo--small {
  height: 4vmin;
}

.sider__logo {
  background-color: #2889c2;
  text-align: center;
}

.header {
  background-color: #fff;
}

.content {
  background-color: #eee;
  height: 500px;
  line-height: 500px;
}

.App-header {
  background-color: #2889c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
